<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Formulario">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Victor Tomaz</mat-card-title>
          <mat-card-subtitle>2° ano </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            <form class="example-form">
              <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Nome:</mat-label>
                  <input matInput>
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Sobrenome</mat-label>
                  <input matInput>
                </mat-form-field></td>
              </tr></table>
            
              <p>
                
                <mat-form-field class="example-full-width">
                  <mat-label>Numero de telefone</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
              </p>
            
              <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Cidade</mat-label>
                  <input matInput placeholder="Ex. San Francisco">
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Estado</mat-label>
                  <input matInput placeholder="Ex. California">
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Cep</mat-label>
                  <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                  <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                </mat-form-field></td>
              </tr></table>
            </form>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>ENVIAR</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="Menu">
      <app-menu></app-menu>
    </mat-tab>
    <mat-tab label="Slide"><mat-tab-group headerPosition="below">
      <mat-tab label="Slide 1">
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Fotinho">
      </mat-card>
    </mat-tab>
      <mat-tab label="Slide 2">  
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Fotinho">
      </mat-card></mat-tab>
      <mat-tab label="Slide 3">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Fotinho">
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  </mat-tab-group>
